h1,li,p{
    color: blanchedalmond;
}
a{
    text-decoration: none;
}
.recipes{
    display: grid;
    grid-template-columns: repeat(5,minmax(200px,1fr));
    gap: 30px;
    margin: 0 80px;
}
.recipe-card{
    position: relative;
    cursor: pointer;
    background-color: black;
    padding:10px;
    padding-bottom: 0;
    border-radius: 20px;
    margin: 20px 0;
    height: 480px;
    overflow: scroll;
}
.ingredients{
    display:  none;
}
.card-image{
    border-radius: 10px;
    width: 100%;
    scale: 0.9;
}
.recipe-card p{
    font-size: 14px;
}
.recipe-card h1{
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    margin-top: -10px;
}
.nutrients{
    text-align: center;
}
.nutrients p{
    color: rgb(208, 212, 214);
}
/*  important part */

.recipe-card:hover .ingredients { 
    display: block;    
}
.recipe-card:hover .nutrients {    
    display: none;    
}


/*

.recipe-card .ingredients {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.recipe-card .nutrients {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.recipe-card:hover .ingredients {
    display: block;
    opacity: 1;
}

.recipe-card:hover .nutrients {
    opacity: 0;
} */
.recipe-card:hover{
    transform: scale(1.03);
}
.ing-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px;
    font-size: 22px;
    color: rgb(46, 45, 45);
    background-color: rgba(250, 250, 248, 0.7);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none; /* Initially hidden */
}
@media screen and (max-width: 1320px) and (min-width: 980px){
    .recipes{
        display: grid;
        grid-template-columns: repeat(4,minmax(200px,1fr));
        gap: 20px;
        margin: 0 70px;
    }
    .recipe-card{
        padding:10px;
        padding-bottom: 0;
        border-radius: 20px;
        margin: 20px 0;
        height: 460px;
        overflow: scroll;
    }
}
@media screen and (max-width: 980px) and (min-width: 730px){
    .recipes{
        display: grid;
        grid-template-columns: repeat(3,minmax(200px,1fr));
        gap: 15px;
        margin: 0 60px;
    }
    .recipe-card{
        padding:10px;
        padding-bottom: 0;
        border-radius: 20px;
        margin: 20px 0;
        height: 460px;
        overflow: scroll;
    }
}
@media screen and (max-width: 730px) and (min-width: 520px){
    .recipes{
        display: grid;
        grid-template-columns: repeat(2,minmax(200px,1fr));
        gap: 20px;
        margin: 0 50px;
    }
    .recipe-card{
        padding:10px;
        padding-bottom: 0;
        border-radius: 20px;
        margin: 20px 0;
        height: 460px;
        overflow: scroll;
    }
}
@media screen and (max-width: 520px){
    .recipes{
        display: grid;
        grid-template-columns: repeat(1,minmax(200px,1fr));
        gap: 10px;
        margin: 0 30px;
    }
    .recipe-card{
        padding:10px;
        padding-bottom: 0;
        border-radius: 20px;
        margin: 10px 0;
        height: 220px;
        overflow: scroll;
    }
    .card-image{
        border-radius: 10px;
        width: 200px;
        margin-top: 5px;
        float: left;
        scale: 0.9;
    }
    .recipe-card p{
        font-size: 14px;
    }
    .recipe-card h1{
        font-size: 20px;
        text-align: center;
        line-height: 23px;
        margin-top: 5px;
    }
}