
.about-us {
    padding: 20px 0;
}

.about-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #111010;
}

.about-card {
    max-width: 60%;
    margin: 0 auto;
    background-color: #02020b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.card-item {
    margin-bottom: 30px;
}

.card-item h3 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.card-item p {
    color: rgb(208, 212, 214);
    line-height: 1.6;
}
